
@model asp__example.Models.Friend

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Friend</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
    </dl>
    @if(Model.Images.Count > 0){
        <div class="w-50 h-50  position-relative">
            <div id="carouselExampleControls"
            class="carousel slide"
            data-bs-ride="carousel">
                <div class="carousel-inner">

                    @foreach (var img in Model.Images.Select((Image, index) => new { Image,index}))
                    {
                        <div class="carousel-item @(img.index == 0 ? "active": "")">
                            <img class="d-block w-100" src="data:image/png;base64,@Convert.ToBase64String(img.Image.Img)" alt="First slide" />
                        </div>
                    }
                </div>
            </div>
            <button class="carousel-control-prev"
                    type="button"
                    data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next"
                    type="button"
                    data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    }
    else{
        <h5>אין תמונות</h5>
    } 
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
